# API Gateway env (copy to .env.dev / .env.staging / .env.prod)
PORT=8080
RESTAURANTS_URL=http://localhost:3001
USERS_URL=http://localhost:3003
REVIEWS_URL=http://localhost:3004
PARTNER_URL=http://localhost:3005
ORDERS_URL=http://localhost:3006
NOTIFICATIONS_URL=http://localhost:3007
